html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td ,textarea,button { margin:0; padding:0;  }
address,cite,dfn,em,var, i {font-style:normal;}
body {min-width: 1184px;color: #111; background: #f6f6f8;line-height: 26px;color: #414a60;font-size: 14px;    font-family: arial,verdana,helvetica,'PingFang SC','HanHei SC',STHeitiSC-Light,Microsoft Yahei,sans-serif;}
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a { text-decoration: none; color: #414a60; }
a:hover{
    transition: all linear .2s;
    color: #00d7c6;
    text-decoration: none;
}
ul, ol { list-style: none; }
:focus{ outline:none;}
.clearfix::after{ clear: both; content: ""; display: block; overflow: hidden;height: 0; }
.clearfix{zoom:1}
@mixin inner-wrap($width) {
    width: $width;
    max-width: 1184px;
    margin: 0 auto;
}
#wrap{
    min-height: 100%;
    overflow: visible;
    overflow-x: hidden;
    position: relative;
    & ::-webkit-scrollbar{
        width: 4px;
    }
    & ::-webkit-scrollbar-thumb{
        height: 50px;
        background-color: #d1d4db;
        -webkit-border-radius: 5px;
    }
    & ::-webkit-scrollbar-track-piece{
        background-color: #fff;
        -webkit-border-radius: 0;
    }
    // ：：空格很重要
    #header{
        // 这种注释内容不会出现在生成的css文件中
        /* 这种注释内容会出现在生成的css文件中 */
        width: 100%;
        height: 60px;
        background: #fff;
        box-shadow: 0 1px 8px rgba(0,0,0,.06);
        position: relative;
        z-index: 100;   
        .inner{
            @include inner-wrap(1184px);
            .logo{
                float: left;
                padding: 10px 0 0 0;
                a{
                    display: block;
                    width: 135px;
                    height: 36px;
                    background: url(../img/logo-x.png) 3px 7px no-repeat;
                }
            }
            .nav{
                font-size: 0;
                float: left;
                margin-left: 15px;
                height: 60px;
                line-height: 60px;
                ul{
                    display: inline-block;
                    white-space: nowrap;
                    vertical-align: top;
                    li{
                        display: inline-block;
                        vertical-align: top;
                        text-align: center;
                        font-size: 14px;
                        margin: 0 12px;;
                        a{
                            display: block;
                            padding: 0 5px;
                            position: relative;
                            &:hover{
                                color: #00d7c6;
                            }
                        }
                    }
                    .cur{
                        a{
                            color: #00d7c6;
                        }
                    }
                }
            }
            .user-nav{
                float: right;
                font-size: 0;
                margin-left: 15px;
                height: 60px;
                line-height: 60px;
                a{
                    font-size: 14px;
                    transition: all linear .2s;
                    &:hover{
                        color: #00d7c6;
                    }
                }
                .link-sign{
                    position: relative;
                    margin-right: 40px;
                    .new{
                        position: absolute;
                        top: -9px;
                        right: -23px;
                        height: 14px;
                        padding: 0 4px;
                        line-height: 14px;
                        background-color: #ef505e;
                        color: #fff;
                        font-size: 12px;
                        border-radius: 7px;
                    }
                }
                .mr20{
                    margin-right: 20px;
                }
                .btn{
                    display: inline-block;
                    border-radius: 15px;
                    text-align: center;
                    font-size: 14px;
                    height: 24px;
                    line-height: 24px;
                    padding: 0 10px 0 12px;
                    min-width: 0;
                    margin-left: 17px;
                    color: #9fa3b0;
                    border: 1px #5dd5c8 solid;
                    &:hover{
                        color: #fff;
                        background-color: #6adbcf;
                    }
                }
            }
        }
    }
    #main{
        min-height: 561px;
        position: relative;
        .list-banner{
            height: 398px;
            background: url(../img/list-banner.jpg) center 0 no-repeat #3d4f5e;
            background-size: cover;
            .inner{
                @include inner-wrap(1184px);
                .text{
                    text-align: center;
                    color: #fff;
                    padding-top: 108px;
                    h1{
                        font-weight: 400;
                        font-size: 36px;
                        letter-spacing: 3px;
                        line-height: 40px;
                    }
                    .btns{
                        margin-top: 50px;
                        .btn{
                            display: inline-block;
                            width: 188px;
                            height: 44px;
                            line-height: 44px;
                            color: #fff;
                            background: #59cac2;
                            box-shadow: none;
                            font-size: 20px;
                            border-radius: 24px;
                            // box-shadow: -2px -2px 5px rgba(89,202,194,.3), 2px 2px 5px rgba(89,202,194,.3);
                            font-weight: 300;
                            transition: all linear .2s;
                            &:hover{
                                background: #4ad4cc;
                            }
                        }
                    }
                }
            }
        }
        .inner{
            @include inner-wrap(1184px);
            .list-card{
                padding: 40px 10px;
                background: #fff;
                margin-top: -68px;
                position: relative;
                z-index: 1;
                ul{
                    width: 100%;
                    li{
                        float: left;
                        border-right: 1px #ededed solid;
                        width: 387px;
                        .title{
                            width: 284px;
                            margin: 0 auto;
                            .more{
                                float: right;
                                width: 47px;
                                height: 18px;
                                line-height: 16px;
                                border: 1px #bebebe solid;
                                border-radius: 10px;
                                text-align: center;
                                color: #999;
                                font-size: 14px;
                                font-weight: 400;
                                font-family: arial,Verdana;
                                &:hover{
                                    background: #59cac2;
                                    color: #fff;
                                    border-color: #59cac2;
                                }
                            }
                            b{
                                display: inline-block;
                                font-size: 17px;
                                height: 17px;
                                line-height: 17px;
                                border-left: 3px #59cac2 solid;
                                padding-left: 10px;
                                font-weight: 400;
                            }
                        }
                        .text{
                            width: 284px;
                            margin: 0 auto;
                            padding-top: 40px;
                            .img-wrap{
                                a{
                                    display: block;
                                    width: 284px;
                                    height: 156px;
                                    overflow: hidden;
                                    transition: all ease-out .3s;
                                    img{
                                        transition: all ease-out .3s
                                    }
                                    &:hover img{
                                        transform: scale(1.05,1.05);
                                    }
                                }
                            }
                            .text-title{
                                font-size: 20px;
                                margin: 30px 0 10px;
                                max-height: 50px;
                                overflow: hidden;
                            }
                            .text-view{
                                font-size: 14px;
                                a{
                                    color: #999;
                                    &:hover{
                                        color: #53cac3;
                                    }
                                }
                            }
                        }
                        &:last-of-type{
                            border-right: 0;
                        }
                    }
                }
            }
            .list-news{
                padding: 25px 100px;
                background: #fff;
                margin-top: 15px;
                li{
                    padding: 35px 0;
                    border-bottom: 1px #ededed solid;
                    .img-wrap{
                        float: left;
                        width: 284px;
                        height: 156px;
                        position: relative;
                        .img{
                            display: block;
                            width: 284px;
                            height: 156px;
                            overflow: hidden;
                            -webkit-transition: all ease-out .3s;
                            transition: all ease-out .3s;
                            img{
                                transition: all ease-out .3s;
                            }
                            &:hover img{
                                transform: scale(1.05,1.05);
                            }
                        }
                        .badge{
                            position: absolute;
                            width: 56px;
                            height: 24px;
                            padding-left: 5px;
                            top: 12px;
                            left: -5px;
                            background: url(../img/sub-icons.png) 0 0 no-repeat;
                            font-size: 12px;
                            color: #fff;
                            line-height: 20px;
                        }
                    }
                    .text{
                        margin-left: 330px;
                        .text-title{
                            font-size: 20px;
                            font-weight: 400;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .summary{
                            height: 75px;
                            line-height: 25px;
                            color: #666;
                            padding: 20px 0 0;
                            margin-bottom: 15px;
                            overflow: hidden;
                        }
                        .info{
                            color: #999;
                            line-height: 18px;
                            font-size: 14px;
                            .author{
                                float: left;
                                em{
                                    display: inline-block;
                                    font-style: normal;
                                    vertical-align: middle;
                                    margin: 0 5px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                    &:last-of-type{
                        border-bottom: 0;
                    }
                }
                .page{
                    .load-more{
                        display: block;
                        line-height: 60px;
                        border: 1px #f0f0f0 solid;
                        text-align: center;
                        color: #bbb;
                        font-size: 16px;
                        &:hover{
                            background: #fafafa;
                            color: #53cac3;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    #footer{
        background: #fff;
        padding: 20px 0 10px;
        margin-top: 43px;
        position: relative;
        z-index: 22;
        color: #8d92a1;
        border-top: solid 1px #f6f6f8;
        .inner{
            @include inner-wrap(1184px);
            position: relative;
            .footer-social{
                position: absolute;
                font-size: 12px;
                text-align: right;
                right: 0;
                top: 0;
                img{
                    margin: 6px 0 7px 0;
                    width: 88px;
                    height: 16px;
                }
                p{
                    text-align: right;
                    padding: 0;
                    font-size: 13px;
                    span{
                        font-size: 13px;
                        padding-left: 5px;
                    }
                }
                .footer-icon{
                    margin-top: 20px;
                    a{
                        display: inline-block;
                        background-image: url(../img/icons2.png);
                        background-repeat: no-repeat;
                        width: 42px;
                        height: 42px;
                        line-height: 42px;
                        border: 1px #eaebee solid;
                        border-radius: 100%;
                        margin-left: 23px;
                        vertical-align: top;
                        .qr-weixin{
                            display: none;
                            position: absolute;
                            right: -25px;
                            bottom: 50px;
                            background: #fff;
                            margin: 6px 0 7px 0;
                            width: 100px;
                            height: 100px;
                        }
                        &:hover{
                            border-color: #cbcdd4;
                        }
                        &:hover .qr-weixin{
                            display: block;
                        }
                    }
                    .icon-weibo{
                        background-position: 10px -190px;
                    }
                    .icon-weixin{
                        background-position: 10px -254px;
                        position: relative;
                    }
                    .icon-app{
                        background-position: 6px -313px;
                    }
                }
            }
            .footer-about{
                dl{
                    width: 192px;
                    float: left;
                    dt{
                        height: 30px;
                        line-height: 30px;
                        font-size: 14px;
                        color: #414a60;
                        margin-bottom: 10px;
                    }
                    dd{
                        a{
                            display: block;
                            width: 100%;
                            font-size: 12px;
                            color: #8d92a1;
                            height: 24px;
                            line-height: 24px;
                            white-space: nowrap;
                            &:hover{
                                color: #00d7c6;
                            }
                        }
                        p{
                            width: 100%;
                            font-size: 12px;
                            color: #8d92a1;
                            height: 24px;
                            line-height: 24px;
                            white-space: nowrap;
                            a{
                                display: inline;
                                font-size: 12px;
                                color: #8d92a1;
                                line-height: 24px;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
            .copyright{
                color: #eeeff3;
                font-size: 12px;
                margin-top: 20px;
                span{
                    color: #8d92a1;
                    display: inline-block;
                    margin-right: 15px;
                    img{
                        width: 16px;
                        height: 16px;
                        vertical-align: middle;
                        margin: -5px 0 0 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .link-friends{
        position: relative;
        height: 27px;
        overflow: hidden;
        margin: 30px auto 6px auto;
        width: 1184px;
        font-size: 12px;
        .link-item{
            margin-bottom: 20px;
            dt{
                float: left;
                width: 78px;
                font-size: 12px;
            }
            dd{
                margin-left: 85px;
                width: auto;
                margin-right: 55px;
            }
            a{
                color: #9fa3b0;
                font-size: 12px;
                margin-right: 26px;
                display: inline-block;
                &:hover{
                    color: #4a4e52;
                    text-decoration: underline;
                }
            }
        }
    }
}
@keyframes shake{
    0%{
        transform: translateX(6px);
    }
    10%{
        transform: translateX(-6px);
    }
    20%{
        transform: translateX(6px);
    }
    30%{
        transform: translateX(-6px);
    }
    40%{
        transform: translateX(6px);
    }
    50%{
        transform: translateX(-6px);
    }
    60%{
        transform: translateX(6px);
    }
    70%{
        transform: translateX(-6px);
    }
    80%{
        transform: translateX(6px);
    }
    90%{
        transform: translateX(-6px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes show{
    0%{
        transform: scale(1.3);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.confirm{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    font-family: inherit;
    overflow: hidden;
    perspective: 400px;
    .confirm-bg{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.7;
        background-color: #000;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.36, 1.1, 0.2, 1);
        opacity: 0.7;
    }
    .confirm-box{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-perspective: 500px;
        perspective: 500px;
        -webkit-perspective-origin: center;
        perspective-origin: center;
        .container{
            .confirm-inbox{
                background: #fff;
                border-radius: 4px;
                position: relative;
                outline: 0;
                padding: 0;
                width: 490px;
                box-shadow: 0 2px 6px rgba(0,0,0,.2);
                margin: 0 auto;
                transition-timing-function:cubic-bezier(0.36, 1.1, 1, 1);
                transition-duration: 0.5s;
                transition-property: transform, opacity, box-shadow, margin;
                margin-top: 200.5px;
                .close-icon{
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    top: 20px;
                    right: 15px;
                    cursor: pointer;
                    opacity: .6;
                    text-align: center;
                    transition: opacity .1s ease-in;
                    font-size: 27px;
                    line-height: 14px;
                    &:hover{
                        opacity: 1;
                    }
                }
                .title-c{
                    display: block;
                    font-size: 22px;
                    line-height: 20px;
                    border-bottom: 1px #eee solid;
                    span{
                        display: inline-block;
                        vertical-align: middle;
                        padding: 20px;
                        padding-bottom: 15px;
                        color: #111;
                    }
                }
                .content{
                    margin-bottom: 15px;    
                    transition: height .4s ease-in;
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    height: 457px;
                    padding: 20px 20px 0;
                    box-sizing: border-box;
                    .form-media{
                        padding: 20px 55px 50px;
                        .form-row{
                            position: relative;
                            .ipt-wrap{
                                position: relative;
                                display: block;
                                margin-top: -1px;
                                input{
                                    width: 297px;
                                    height: 32px;
                                    line-height: 32px;
                                    padding: 10px 20px;
                                    border: 1px #e2e2e2 solid;
                                    font-size: 16px;
                                    transition: all linear .2s;
                                    font-weight: 300;
                                    &:focus{
                                        border-color: #59cac2;
                                        box-shadow: 0 0 3px rgba(89,202,194,.6);
                                        position: relative;
                                        z-index: 10;
                                    }
                                }
                                .error{
                                    position: absolute;
                                    top: 0;
                                    left: 338px;
                                    height: 52px;
                                    line-height: 52px;
                                    min-width: 180px;
                                    border: 1px #e2e2e2 solid;
                                    padding: 0 15px 0 44px;
                                    white-space: nowrap;
                                    color: #ff5a5f;
                                    background: #fff url(../img/sub-icons.png) 15px -80px no-repeat;
                                    &::before{
                                        content: '';
                                        position: absolute;
                                        left: -6px;
                                        top: 20px;
                                        background: #fff;
                                        width: 10px;
                                        height: 10px;
                                        border: 1px solid;
                                        border-color: #e2e2e2 #e2e2e2 transparent transparent;
                                        transform: rotate(-135deg);
                                    }
                                }
                            }
                        }
                        .btns{
                            padding-top: 48px;
                            .btn{
                                width: 100%;
                                line-height: 54px;
                                border: 0;
                                background: #59cac2;
                                color: #fff;
                                font-size: 20px;
                                cursor: pointer;
                                transition: all linear .2s;
                                &:hover{
                                    background: #4ad4cc;
                                }
                            }
                        }
                    }

                }
            }
            .shakeAss{
                animation: shake 0.82s cubic-bezier(0.36, 1.1, 0.2, 1.2) forwards;
            }
            .showout{
                animation: show 0.5s cubic-bezier(0.36, 1.1, 0.2, 1.2) forwards;
            }
        }
    }
}